@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.block-blog {
  text-align: center;
  background-color: #f4f4f4;

  .btn-url {
    margin-top: 2.5rem;
  }
}

//Loop-post css
.list-items .item-post .content {
  height: 14rem;

  .title-post {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//Pagination css
.pagination {
  padding: 4rem 0;
}
