@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.block-contact {
    --gap: 3rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap);
    text-align: center;

    .google-map {
        max-width: calc(35% - (var(--gap) / 2));
        flex: 1 1 35%;

        @include maxWidth($md) {
            max-width: 100%;
            flex: 1 1 100%;
            order: 2;
            height: 30rem;
        }
    }

    .info-contact {
        max-width: calc(60% - (var(--gap) / 2));
        flex: 1 1 60%;

        @include maxWidth($md) {
            max-width: 100%;
            flex: 1 1 100%;
        }
    }

    .other-contact {
        margin: 0 auto;
        padding: 2rem 0;
        // max-width: 60rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        a {
            padding: 1rem 4rem;
            background-color: $primaryColor;
            border: 2px solid $primaryColor;
            // border-radius: 3rem;
            color: #fff;
            font-size: clamp(1.3rem, 5vw, 1.5rem);

            &:hover {
                background-color: #fff;
                color: $primaryColor;
            }
        }
    }

    .info-company {
        padding: 2rem 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        @include maxWidth($sm) {
            padding: 2rem 0;
        }

        .info-item {
            max-width: calc(50% - (var(--gap) / 2));
            flex: 1 1 50%;

            @include maxWidth($sm) {
                max-width: 100%;
                flex: 1 1 100%;
            }
        }

        * > a {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $textColor;
            text-align: start;

            &:hover {
                color: $primaryColor;
            }
        }

        .address,
        .hour {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-align: start;
        }

        .icon-address {
            @include iconify-mask("mdi:place-outline", 2rem, 2rem, $primaryColor);
        }

        .icon-hour {
            @include iconify-mask("tabler:clock-hour-9", 2rem, 2rem, $primaryColor);
        }

        .icon-phone {
            @include iconify-mask("fluent:phone-28-regular", 2rem, 2rem, $primaryColor);
        }

        .icon-mail {
            @include iconify-mask("fluent:mail-28-regular", 2rem, 2rem, $primaryColor);
        }
    }
}

form {
    margin: 0 auto;
    width: 100%;

    .form-row {
        margin: 3rem 0;
        display: flex;

        @include maxWidth($sm) {
            flex-wrap: wrap;
            gap: 2rem;
        }

        .input-data {
            margin: 0 clamp(1rem, 2vw, 2rem);
            position: relative;
            width: 100%;
            height: 4rem;
            text-align: start;

            label {
                position: absolute;
                pointer-events: none;
                bottom: 1rem;
                font-size: 1.5rem;
                transition: all 0.3s ease;
            }

            .underline {
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 100%;

                &:before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 100%;
                    background: $primaryColor;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.3s ease;
                }
            }

            input {
                &:focus ~ .underline:before,
                &:valid ~ .underline:before {
                    transform: scaleX(1);
                }
            }
        }

        .textarea {
            height: 70px;

            label {
                width: 100%;
                bottom: 4rem;
                background: #fff;
            }

            textarea {
                resize: none;
                padding-top: 10px;

                &:focus ~ .underline:before,
                &:valid ~ .underline:before {
                    transform: scale(1);
                }
            }
        }

        .input-data input,
        .textarea textarea {
            display: block;
            width: 100%;
            height: 100%;
            border: none;
            font-size: 1.6rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.12);
        }
        .input-data input:focus ~ label,
        .textarea textarea:focus ~ label,
        .input-data input:valid ~ label,
        .textarea textarea:valid ~ label {
            transform: translateY(-20px);
            font-size: 1.25rem;
            color: $primaryColor;
        }

        &.submit-btn {
            display: inline-block;

            .input-data {
                .inner {
                    button[type="submit"] {
                        padding: 1rem 4rem 1rem 3rem;
                        display: inline-flex;
                        align-items: center;
                        background-color: $primaryColor;
                        color: #fff;
                        font-weight: $semiBold;
                        border: none;
                        border-radius: 8rem;
                        transition: all 0.2s ease-in-out;
                        cursor: pointer;
                        text-align: center;

                        svg {
                            margin-right: 0.5rem;
                            width: 2rem;
                            height: auto;
                            fill: #fff;
                        }

                        &:hover {
                            background-color: $greenColor;

                            svg {
                                animation: contact-icon-hover 0.7s ease-out 0s 1 normal both;
                            }
                        }

                        &[disabled] {
                            cursor: not-allowed !important;
                            background-color: gray !important;

                            &:hover {
                                background-color: gray !important;
                            }
                        }
                    }
                }
            }
        }
    }
}