@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.block-intro {
    --gap: 3rem;

    &.reversed {
        .inner {
            flex-direction: row-reverse;
        }
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--gap);
    }

    .intro-content {
        max-width: calc(35% - (var(--gap) / 2));
        flex: 1 1 35%;
    }

    .pc-media {
        max-width: calc(60% - (var(--gap) / 2));
        flex: 1 1 60%;
        position: relative;
    }
    .mb-media {
        display: none;
        padding: 0 0 2rem;
    }

    figure {
        position: relative;
        overflow: hidden;
        border-radius: 3rem;
    }

    .slider {
        width: 56.4vw;
        position: relative;
        overflow: hidden;
        border-radius: 3rem;

        @include maxWidth($md) {
            width: 100%;
        }

        .slider-track {
            display: flex;
            gap: 2rem;
            animation: infinite-scroll 70s linear infinite;
        }

        .item-slider {
            flex: 0 0 auto;
            .inner {
                width: clamp(15rem, 20vw, 40rem);
                border-radius: 3rem;
            }
        }

        figure.media-custom {
            padding-top: 150%;
        }

        @keyframes infinite-scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-185.7%);
            }
        }
    }

    @include maxWidth($md) {
        .pc-media {
            display: none;
        }

        .mb-media {
            display: block;
        }

        .mb-media,
        .intro-content {
            max-width: 100%;
            flex: 1 1 100%;
        }
    }
}