@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.block-media {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.block-welcome {
    padding: 3rem 0 0;
    position: relative;
    overflow: hidden;

    .mm-container-fluid {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .scroll-circle {
        position: relative;
        width: 18rem;
        height: 18rem;

        svg {
            width: 100%;
            height: 100%;
            animation: rotateText 14s linear infinite;
            min-height: clamp(10rem, 20vw, 18rem);
            min-width: clamp(10rem, 20vw, 18rem);
        }

        text {
            font-size: 1.45rem;
            fill: $textColor;
            text-transform: uppercase;
        }

        .arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include iconify-mask("guidance:down-arrow", 5rem, 5rem, $textColor);

            @include maxWidth($sm) {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .welcome-aiot {
        display: inline-flex;
        align-items: center;
        font-size: clamp(5rem, 20vw, 13rem);
        font-weight: $thin;
        line-height: 1em;
        text-transform: uppercase;
        white-space: nowrap;
        opacity: 0.3;
    }

    @keyframes rotateText {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-360deg);
        }
    }
}