@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

.block-service {
    --gap: 3rem;

    &.reversed {
        .inner {
            flex-direction: row-reverse;
        }
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--gap);
    }

    .service-content {
        max-width: calc(35% - (var(--gap) / 2));
        flex: 1 1 35%;
    }

    .services-list {
        max-width: calc(60% - (var(--gap) / 2));
        flex: 1 1 60%;
        .services {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
        .name {
            font-size: clamp(1.8rem, 2.5vw, 3rem);
            font-weight: 700;
            line-height: 2.2;
        }
        .desc {
            line-height: 1.8;
            letter-spacing: 1px;
        }
    }

    .service-item {
        display: flex;
    }

    @include maxWidth($md) {
        .service-content,
        .services-list {
            max-width: 100%;
            flex: 1 1 100%;
        }
    }
}