@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

nav.rank-math-breadcrumb {
  a {
    width: fit-content;
    display: inline-block;
    font-size: clamp(1.3rem, 5vw, 1.4rem);
    font-weight: 600;
    color: $textColor;
    text-decoration: none;
    text-decoration: underline;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
    transition: -webkit-text-decoration-color 0.2s ease-out;
    transition: text-decoration-color 0.2s ease-out;
    transition: text-decoration-color 0.2s ease-out,
      -webkit-text-decoration-color 0.2s ease-out;
    &::after {
      content: "";
      display: block;
      position: relative;
      bottom: 0.5rem;
      width: 100%;
      height: 1px;
      background: linear-gradient(0deg, #70635f, #70635f) no-repeat right bottom /
        0 1px;
      background-size: 0 1px;
      transition: background-size 0.3s ease-out;
    }
    &:hover::after {
      background-size: 100% 1px;
      background-position-x: left;
    }
  }

  .last {
    font-size: clamp(1.3rem, 5vw, 1.4rem);
    font-weight: 700;
    color: $primaryColor;
  }
}

h1.page-title {
  margin-top: 1.25vw;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(3rem, 5vw, 5.8rem);
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #251e1c;
}

.page-header {
  padding: clamp(3rem, 5vw, 7rem) 0;
  margin-bottom: clamp(3rem, 5vw, 10rem);
}

.head-parent-page {
  // page thumbnail in parent page
  .page-thumbnail {
    margin-bottom: clamp(3rem, 5vw, 5rem);
  }

  .page-excerpt {
    line-height: 1.6;
  }
}

.head-child-page {
  position: relative;

  @include maxWidth($md) {
    display: flex;
    flex-wrap: wrap;

    .page-thumbnail {
      margin-bottom: 3rem;
      width: 100%;
      order: 2;
    }
  }

  .page-title-breadcrumb {
    padding: clamp(3rem, 5vw, 8rem) clamp(5rem, 5vw, 10rem)
      clamp(5rem, 5vw, 10rem) clamp(3rem, 5vw, 5rem);
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 35%;
    background-color: #fff;
    border-top-right-radius: 4rem;

    @include maxWidth($md) {
      padding: 5rem 0;
      position: relative;
      bottom: unset;
      left: unset;
      min-width: 100%;
      order: 1;
    }
  }
}

.body-child-page {
  position: relative;
  display: flex;

  .page-sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 20%;
    flex: 1 1 20%;

    @include maxWidth($lg) {
      max-width: 25%;
      flex: 1 1 25%;
    }

    @include maxWidth($md) {
      display: none;
    }
  }

  .parent-page {
    // padding-bottom: clamp(3rem, 5vw, 5rem);
    padding: clamp(3rem, 5vw, 8rem) clamp(5rem, 5vw, 10rem)
      clamp(3rem, 5vw, 5rem) clamp(3rem, 5vw, 5rem);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    .parent-link {
      position: relative;
      display: inline-block;
      font-size: clamp(2rem, 5vw, 2.4rem);
      font-weight: $bold;
      letter-spacing: 0.25px;
      color: $textColor;
      transition: all 0.3s ease-out;

      &::after {
        content: "";
        display: block;
        position: relative;
        bottom: 0.5rem;
        width: 100%;
        height: 1.8px;
        background: linear-gradient(0deg, $textColor, $textColor) no-repeat
          right bottom / 0 1px;
        background-size: 100% 1px;
        transition: background-size 0.3s ease-out;
      }
      &:hover {
        color: $primaryColor;
        &::after {
          background-size: 0 1px;
          background-position-x: right;
        }
      }
    }
  }
  .children-page {
    padding: clamp(3rem, 5vw, 5rem) clamp(5rem, 5vw, 10rem)
      clamp(5rem, 5vw, 10rem) clamp(3rem, 5vw, 5rem);

    ul {
      @include ulReset;
      li {
        a {
          padding: 1.8rem 0;
          display: block;
          font-size: clamp(1.6rem, 5vw, 1.8rem);
          font-weight: 600;
          color: $textColor;
          text-decoration: none;
          transition: color 0.3s ease-out;
          &:hover {
            color: $primaryColor;
          }

          position: relative;

          &::after,
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
          }
          &::after {
            width: 100%;
            background: rgba(37, 30, 28, 0.1);
          }
          &::before {
            width: 100%;
            background: $primaryColor;
            transform: scaleX(0.2);
            transform-origin: left center;
            transition: transform 0.3s ease-out;
          }

          &:hover::before {
            transform: scaleX(1);
          }
        }

        &.current_page_item {
          a {
            color: $primaryColor;
            &::before {
              transform: scaleX(1);
            }
          }
        }

        &:first-child a {
          padding-top: 0;
        }
      }
    }
  }

  .page-content {
    padding: clamp(3rem, 5vw, 8rem) clamp(5rem, 5vw, 10rem)
      clamp(5rem, 5vw, 10rem) clamp(3rem, 5vw, 10rem);
    max-width: 80%;
    flex: 1 1 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.1);

    @include maxWidth($lg) {
      max-width: 75%;
      flex: 1 1 75%;
    }

    @include maxWidth($md) {
      padding: 2rem 0;
      max-width: 100%;
      flex: 1 100%;
      border-left: none;
    }
  }
}

.child-pages {
  margin-top: clamp(7rem, 5vw, 10rem);
  padding: clamp(7rem, 5vw, 10rem) 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  ul {
    @include ulReset;

    li.child-page {
      margin-bottom: clamp(6rem, 10vw, 15rem);

      .inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
      }

      .inner-media {
        max-width: 65%;
        flex: 1 1 65%;

        @include maxWidth($md) {
          max-width: 100%;
          flex: 1 100%;
        }

        figure {
          border-radius: 3rem;
          min-height: 52rem;

          @include maxWidth($md) {
            min-height: 42rem;
          }
        }
      }

      .inner-content {
        padding: clamp(3rem, 5vw, 5rem);
        max-width: 50%;
        flex: 1 1 50%;
        position: absolute;
        top: 50%;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        background-color: #fff;
        border-radius: 3rem;
        transform: translateY(-50%);
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

        @include maxWidth($md) {
          margin: 0 auto;
          max-width: 85% !important;
          position: relative;
          top: -5rem;
          right: unset;
          justify-content: center;
          transform: unset;
        }
        @include maxWidth($sm) {
          max-width: 90% !important;
          top: -5rem;
        }
      }

      &:nth-child(even) .inner {
        flex-direction: row-reverse;

        .inner-content {
          left: 0;
          right: auto;
        }
      }
    }
  }
}
