$mainFont: "Noto Sans JP", sans-serif;
$subFont: "Noto Sans", sans-serif;
$secondaryFont: "Quicksand", sans-serif;
$primaryColor: #d85040;
$blueColor: #5384ed;
$yellowColor: #f1bf42;
$greenColor: #6ab558;
$textColor: #333;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;

$container-mw: 144rem;